
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";



}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Multi Select</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="table-2">
                        <thead>
                            <tr>
                                <th class="text-center pt-3">
                                    <div class="custom-checkbox custom-checkbox-table custom-control">
                                        <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad"
                                               class="custom-control-input" id="checkbox-all">
                                        <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                                    </div>
                                </th>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Image</th>
                                <th>Status</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in ViewBag.List)
                            { 
                            <tr>
                                <td class="text-center pt-2">
                                    <div class="custom-checkbox custom-control">
                                        <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input"
                                               id="checkbox-1">
                                        <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                                    </div>
                                </td>
                                <td>@item.Name</td>
                                <td>
                                    @item.RoleName
                                </td>
                                <td>

                                    <img alt="image" src="/Content/adminassets/assets/img/users/user-5.png" width="35">
                                </td>
                              
                                <td><a href="#" class="btn btn-primary" onclick="window.location.href='/Users/Details/@item.UserId' " >Detail</a></td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>